freebsd_env_hook() {
	local _SETUP_REPO=

	_SB_PROJECT=$(echo $SB_PROJECT | awk '{ print tolower($0); }')
	case "${_SB_PROJECT}" in
	freebsd)
		;;
	freebsd-install)
		_SETUP_REPO=1
		;;
	*)
		return 0
		;;
	esac

	add_hooks mksb_env_finish_hooks freebsd_env_finish_hook

	#
	# Basic sandbox environment variables setup
	#
	# OBJROOT will be populated by ${SRCTOP}/share/mk/src.sys.obj.mk to be
	# ${SB}/obj/
	#
	SB_SRC=${SB}/src
	SB_OBJROOT=${SB}/obj/
	SRCTOP=${SB_SRC}
	MAKESYSPATH=${SRCTOP}/share/mk
	WITH_META_MODE=yes

	#
	# `make packages` environment variables setup
	#
	if [ -n "${_SETUP_REPO}" ]; then
		REPODIR=${REPODIR:-/repo}
		PKG_FORMAT=${PKG_FORMAT:-tar}
	fi
}
freebsd_env_finish_hook() {
	expShellVars PATH

	expShellVars \
	    SRCTOP \
	    WITH_META_MODE

	expShellVars CROSS_TOOLCHAIN

	expShellVars \
		REPODIR \
		PKG_FORMAT
}

freebsd_ports_env_hook() {
	case "$SB_PROJECT" in
	FreeBSD-ports) ;;
	*) return 0;;
	esac

	add_hooks mksb_env_finish_hooks freebsd_ports_env_finish_hook

	PORTSDIR=$SB/ports
	PORT_DBDIR=$SB/var/db/ports
	PACKAGES=$SB/pkg
	WRKDIRPREFIX=$SB/wrkdir
	DISTDIR=$SB/distfiles
	SU_CMD="/usr/local/bin/sudo -E sh -c"
	SRCTOP=$PORTSDIR
}
freebsd_ports_env_finish_hook() {
	expShellVars PATH PORTSDIR PORT_DBDIR PACKAGES WRKDIRPREFIX DISTDIR SU_CMD
	expShellVars SRCTOP
}

add_hooks mksb_env_hooks freebsd_env_hook
add_hooks mksb_env_hooks freebsd_ports_env_hook
