freebsd_env_hook() {
	case "$SB_PROJECT" in
	FreeBSD) ;;
	*) return 0;;
	esac

	SRCTOP=$SB/src
	OBJROOT=$SB/obj/
	OBJTOP='${OBJROOT}${TARGET}.${TARGET_ARCH}'
	MAKESYSPATH=$SRCTOP/share/mk
	MAKEOBJDIR='${.CURDIR:S,${SRCTOP},${OBJTOP},}'
	WITH_META_MODE=yes

	add_hooks mksb_env_finish_hooks freebsd_env_finish_hook
}
freebsd_env_finish_hook() {
	expShellVars PATH SRCTOP OBJROOT
	expShellVarsLiteral OBJTOP

	expShellVars WITH_META_MODE
}

freebsd_ports_env_hook() {
	case "$SB_PROJECT" in
	FreeBSD-ports) ;;
	*) return 0;;
	esac

	PORTSDIR=$SB/ports
	PORT_DBDIR=$SB/var/db/ports
	PACKAGES=$SB/pkg
	SU_CMD="/usr/local/bin/sudo -E sh -c"
	SRCTOP=$PORTSDIR

	add_hooks mksb_env_finish_hooks freebsd_ports_env_finish_hook
}
freebsd_ports_env_finish_hook() {
	expShellVars PATH PORTSDIR PORT_DBDIR PACKAGES SU_CMD
	expShellVars SRCTOP
}

add_hooks mksb_env_hooks freebsd_env_hook
add_hooks mksb_env_hooks freebsd_ports_env_hook
